<%= form_for(@sheet) do |f| %>
  <% if @sheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sheet.errors.count, "error") %> prohibited this sheet from being saved:</h2>

      <ul>
      <% @sheet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.check_box :closed %>  Closed for editing
  </div>
  <div class="field">
    Contact sheet privacy level: <%= f.number_field :visibility %>
  </div>

  <h2>Fields</h2>
  <% @basic_field_types.each_with_index do |field, i| %>
    <%= "<br />".html_safe if i % 8 == 0 %>

    <%= check_box_tag "basic_fields[#{field.id}]", "#{field.id}" %> <%= field.name %>

  <% end %>
    <br/>
    <br />
  <div class="center">
    <%= f.submit 'Update contact sheet', class: 'btn btn-large btn-primary' %>
  </div>


<% end %>
