<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @sheet.name %>
</p>

<p>
  <b>Description:</b>
  <%= @sheet.description %>
</p>

<p>
  <b>Visibility:</b>
  <%= @sheet.visibility %>
</p>
<table>
  <% @sheet.sheet_records.each do |record| %>
    <tr>
      <% record.record_fields.each do |field| %>
        <td><%= field.data %> </td>
      <% end %>
    </tr>
  <% end %>
</table>


<%= link_to 'Edit', edit_sheet_path(@sheet) if @sheet.user_id == current_user.id %> |
<%= link_to 'Back', sheets_path %>
